@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@800&family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

/* .navbar,
.navbar_right {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.6);
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    /* width: 100%; */
/* justify-content: center; */
/* } */

/* .navbar ul li {
    margin: 0px 1rem;
    padding: 1rem;
} */

/* .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    margin: 0 5px;
} */

/* .navbar ul li a:hover {
    color: cyan;
} */

div.navbar {
  position: fixed;
  width: 100%;
  margin: 0px auto;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 100px; /*---untuk logo--*/
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.menu {
  display: flex;
  float: left;
}

ul li {
  list-style: none;
}

ul.menu li a {
  /* text-align: left; */
  text-decoration: none;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 12px;
}

ul.menu li a:hover,
.navbar_right ul li a:hover {
  color: cyan;
}

.navbar_right ul {
  display: flex;
}

.navbar_right ul li a {
  text-decoration: none;
  display: flex;
  color: white;
  text-transform: uppercase;
  padding: 12px;
  /* align-items: center; */
}

/* ul.menu li a:hover {
    color: cyan;
} */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  padding: 30px;
  word-spacing: 10px;
  letter-spacing: 15px;
}

section p {
  font-size: 14px;
  margin-bottom: 50px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.main-button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: orange;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.main-button:hover {
  border: none;
  background: black;
  color: orange;
  cursor: pointer;
}

/* section images */
section#home {
  background-image: url(/images/main-bg.jpg);
  background-size: 100% 100%;
}

section#work {
  background-image: url(/images/the-games-bg.jpg);
  background-size: 100% 100%;
}

section#contact {
  background-image: url(/images/features.jpg);
  background-size: 100% 100%;
}

section#about_me {
  background-image: url(../images/requirements.png);
  background-size: 100% 100%;
}

section#topscore {
  background-image: url(/images/top-score-bg.png);
  background-size: 100% 100%;
}

.logo a {
  text-decoration: none;
  color: white;
  cursor: default;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 3px;
}
